---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "minima/syntax-highlighting";

body {
  background: #9cb8b3;
}

.text-wrapper {
  font: 600 1em/1 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  max-width: 600px;
  margin: auto;
  span {
    font-weight: 900;
    color: #efedce;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
    font-size: 4em;
    z-index: 100;
    text-shadow: .04em .04em 0.05em rgba(0, 0, 0, 0.35);
  }
}


